In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

plt.style.use("ggplot")
%matplotlib inline

# this is movies data frame

In [2]:
movies_df = pd.read_csv("movies.csv")
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
ratings_df = pd.read_csv("ratings.csv")
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [4]:
links_df = pd.read_csv("links.csv")
links_df

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [5]:
tags_df = pd.read_csv("tags.csv")
tags_df

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

# Join all the data frames

### What is the shape of "movies.csv"?

In [6]:
print(f"The shape of the movies.csv is {movies_df.shape}")

The shape of the movies.csv is (9742, 3)

### What is the shape of "ratings.csv"?

In [7]:
print(f"The shape of the ratings.csv is {ratings_df.shape}")

The shape of the ratings.csv is (100836, 4)

### How many unique "userId" are available in "ratings.csv"?

In [8]:
len(ratings_df["userId"].unique())

610

### Which movie has recieved maximum number of user ratings?

In [9]:
ratings_count = ratings_df["movieId"].value_counts()
print("Movie with the maximum number of user ratings:")
print("MovieId:", ratings_count.idxmax())
print("Title:", ratings_count.max())
print("Number of Ratings:", movies_df.loc[
    movies_df["movieId"] == max_ratings_movieId, "title"
].values[0])

Movie with the maximum number of user ratings:
MovieId: 356
Title: 329

NameError: name 'max_ratings_movieId' is not defined

### Select all the correct tags submitted by users to "Matrix, The (1999)" movie

In [ ]:
matrix_movieId = movies_df[
    movies_df["title"].str.contains("Matrix, The \(1999\)", regex=True)
]["movieId"].iloc[0]
tags_df = pd.read_csv("tags.csv", encoding="utf-8")
matrix_tags = tags_df[tags_df["movieId"] == matrix_movieId]["tag"].unique()
print("Tags for The Matrix (1999):")
print(matrix_tags)

### What is the average user rating for movie named "Terminator 2: Judgment Day (1991)"?

In [ ]:
terminator_movieId = movies_df[
    movies_df["title"] == "Terminator 2: Judgment Day (1991)"
]["movieId"].iloc[0]
terminator_avg_rating = ratings_df[ratings_df["movieId"] == terminator_movieId][
    "rating"
].mean()
print("Average user rating for Terminator 2: Judgment Day (1991):")
print(terminator_avg_rating)

### How does the data distribution of user ratings for "Fight Club (1999)" movie looks like?

In [ ]:
fight_club_movieId = movies_df[movies_df["title"] == "Fight Club (1999)"][
    "movieId"
].iloc[0]
fight_club_ratings = ratings_df[ratings_df["movieId"] == fight_club_movieId]["rating"]
plt.figure(figsize=(10, 5))
sns.kdeplot(fight_club_ratings)
plt.title("Distribution of User Ratings for Fight Club (1999)")
plt.xlabel("Rating")
plt.ylabel("Density")
plt.show()

## The above graph is left skewed

### Which movie is the most popular based on  average user ratings?

In [ ]:
ratings_count = ratings_df.groupby("movieId").size()
ratings_count

In [ ]:
movies_with_100plus_ratings = ratings_count[ratings_count >= 100].index
print(
    "The total mivies with 100 plus rating are :- {}".format(
        len(movies_with_100plus_ratings)
    )
)
movies_with_100plus_ratings

In [ ]:
average_ratings_100plus = (
    ratings_df[ratings_df["movieId"].isin(movies_with_100plus_ratings)]
    .groupby("movieId")["rating"]
    .mean()
)

In [ ]:
most_popular_by_avg_rating_100plus = average_ratings_100plus.idxmax()
most_popular_movie_title_100plus = movies_df[
    movies_df["movieId"] == most_popular_by_avg_rating_100plus
]["title"].iloc[0]

In [ ]:
most_popular_movie_title_100plus

### Select all the correct options which comes under top 5 popular movies based on number of user ratings.

In [ ]:
top_movies_by_user_ratings = ratings_df["movieId"].value_counts().head(5).index.tolist()
top_movies_titles = movies_df[movies_df["movieId"].isin(top_movies_by_user_ratings)][
    "title"
].tolist()
top_movies_titles

### Which Sci-Fi movie is "third most popular" based on the number of user ratings?

In [ ]:
sci_fi_movies = movies_df[movies_df["genres"].str.contains("Sci-Fi")]
sci_fi_movie_ratings = ratings_df[ratings_df["movieId"].isin(sci_fi_movies["movieId"])][
    "movieId"
].value_counts()
third_most_popular_sci_fi_movie_id = sci_fi_movie_ratings.index[2]
third_most_popular_sci_fi_movie_title = movies_df[
    movies_df["movieId"] == third_most_popular_sci_fi_movie_id
]["title"].iloc[0]

In [ ]:
third_most_popular_sci_fi_movie_title

### Mention the movieId of the movie which has the highest IMDB rating.

In [ ]:
merged_ratings_imdb = average_ratings_100plus.reset_index().merge(
    links_df, on="movieId"
)

In [ ]:
highest_imdb_rating = merged_ratings_imdb["rating"].max()
highest_imdb_movieId = merged_ratings_imdb[
    merged_ratings_imdb["rating"] == highest_imdb_rating
]["movieId"].iloc[0]

In [ ]:
highest_imdb_movieId

In [ ]:
movies_df[movies_df["movieId"] == 318]

### Mention the movieId of the "Sci-Fi" movie which has the highest IMDB rating.

In [ ]:
df_sci_fi_movies = movies_df[movies_df["genres"].str.contains("Sci-Fi")]
df_sci_fi_ratings = df_sci_fi_movies.merge(
    average_ratings_100plus.reset_index(), on="movieId"
)
highest_rated_sci_fi_movie = df_sci_fi_ratings[
    df_sci_fi_ratings["rating"] == df_sci_fi_ratings["rating"].max()
]
highest_rated_sci_fi_movie[["movieId", "title", "rating"]]